<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458254148123-a8jd53ivg2k6aha6a0c7br37ede46shj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458254148123-a8jd53ivg2k6aha6a0c7br37ede46shj</string>
	<key>API_KEY</key>
	<string>AIzaSyCPtnV2R8J6TIA4RplzUh3dpiieaeNuVLY</string>
	<key>GCM_SENDER_ID</key>
	<string>458254148123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.planner</string>
	<key>PROJECT_ID</key>
	<string>planner-45629</string>
	<key>STORAGE_BUCKET</key>
	<string>planner-45629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458254148123:ios:2add5f9eff3325ff624ebe</string>
</dict>
</plist>